scenarios/scenarios.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema">

<xsd:element name="spqr_data">
	<xsd:complexType>
		<xsd:element name="player">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="capitol" type="xsd:string">
					<xsd:element name="ai" type="xsd:string">
					<xsd:element name="group" type="xsd:string">
				</xsd:sequence>
				<xsd:attribute name="name" type="xsd:string">
			</xsd:complexType>
		</xsd:element>
	</xsd:complexType>
</xsd:element>

</xsd:schema>

